body{
    text-align: center;
    background: linear-gradient( blue 0%, gold 100%);
    background-repeat: no-repeat;
    
}

h1{
    text-shadow: 2px 2px white;
    font-size:40px;
}
#bio{
    padding:20px;
    font-size:18;
    text-align: center;
}
img{
    border-radius:50%;
    width:100px;
}